<main>
    <form>
        <div>
            <h3>{{data.message}} </h3>
            <p>{{data.info}}</p>
        </div>

        <a href="{{data.link}}" class="btn btn-primary">Повернутися назад</a>

    </form>

</main>