<main>
    <form>
        <div>
            <h3>Інформація про товар</h3>
            <p>{{info}}</p>
        </div>

        <a href="/product-list" class="btn btn-primary">Повернутися назад</a>

    </form>

</main>